<?xml version="1.0"?>

<model>
  <name>ramp</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Eugen Ruff</name>
    <email>eugen.ruff@tuebingen.mpg.de</email>
  </author>

  <description>
	    A NIST like ramp about 1m wide 50cm deep and 30cm high
  </description>
</model>
