<?xml version="1.0"?>

<model>
  <name>blackwall</name>
  <version>1.0</version>
  <sdf version='1.5'>blackwall.sdf</sdf>

  <author>
    <name>Eugen Ruff</name>
    <email>eugen.ruff@tuebingen.mpg.de</email>
  </author>

  <description>
    a black wall, like in our trackinghall
  </description>
</model>
