<?xml version="1.0"?>

<model>
  <name>chipboard_cube</name>
  <version>1.0</version>
  <sdf version='1.5'>chipboard_cube.sdf</sdf>

  <author>
    <name>Eugen Ruff</name>
    <email>eugen.ruff@tuebingen.mpg.de</email>
  </author>

  <description>
    a block made from chipboard
  </description>
</model>
