<?xml version="1.0"?>

<model>
  <name>blocks</name>
  <version>1.0</version>
  <sdf version='1.5'>blocks.sdf</sdf>

  <author>
    <name>Eugen Ruff</name>
    <email>eugen.ruff@tuebingen.mpg.de</email>
  </author>

  <description>
    several blocks forming uneven surface
  </description>
</model>
